{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid bg-primary">
            <div class="container myNavbar py-0">
                <nav
                    class="navbar navbar-expand-lg bg-body-tertiary align-items-end py-0"
                >
                    <div class="container">
                        <a class="navbar-brand pb-0 goHome" href="{{ path('accueil') }}">
                            <img
                                src="{{ asset('index/') }}newlogo3.webp"
                                alt=""
                                height="60"
                                class="d-inline-block align-text-center"
                            />
                        </a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse navbar-collapse justify-content-center"
                            id="navbarSupportedContent"
                        >
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link active goHome"
                                        aria-current="page"
                                        href="{{ path('accueil') }}"
                                        >Accueil</a
                                    >
                                </li>
                                <li class="nav-item mx-1 dropdown">
                                    <a
                                        class="btn btn-success p-1 mt-1 text-primary nav-link dropdown-toggle"
                                        id="productTrigger"
                                        href="{{ path('homeCategories') }}"
                                        role="button"
                                        {# data-bs-toggle="dropdown" #}
                                        aria-expanded="false"
                                    >
                                        Produits
                                    </a>
                                    <div
                                        class="dropdown-menu px-2 py-2 mt-0 mb-1 myDropdown bg-light"
                                    >
                                        <div class="row text-center">
                                        {% for category in categories %}
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                            id="{{ category.alias }}"
                                                    href="{{ path( 'homeCategory', {id: category.id} ) }}">
                                                    <img
                                                        src="{{ asset('upload/') }}{{ category.pictureNormal }}"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        {{ category.title }}
                                                    </p></a>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link goHome"
                                        href="{{ path('accueil') }}#aloe-vera-forever"
                                        >Aloe Vera & Forever</a
                                    >
                                </li>
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link goHome"
                                        href="{{ path('accueil') }}#devenirFbo"
                                        >Devenir FBO</a
                                    >
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="nav-link goHome" href="{{ path('accueil') }}#commander"
                                        >Commander</a
                                    >
                                </li>
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link"
                                        href="{{ path('accueil') }}#contact"
                                        >Contacter-moi</a
                                    >
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown mx-1">
                                    <a class="btn btn-info text-primary p-1 mt-1 nav-link dropdown-toggle" href="{{ path('listProduct') }}" role="button"
                                    {# data-bs-toggle="dropdown" #}
                                    aria-expanded="false">
                                    Back-office
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('addProduct') }}">Ajout article</a></li>
                                        <li><a class="dropdown-item" href="{{ path('listProduct') }}">Liste des articles</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="{{ path('addCategory') }}">Ajout categorie</a></li>
                                        <li><a class="dropdown-item" href="{{ path('listCategory') }}">Liste des categories</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="{{ path('addCarousel') }}">Ajout images carousel</a></li>
                                        <li><a class="dropdown-item" href="{{ path('listCarousel') }}">Liste images carousel</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="{{ path('listUsers') }}">Gestion utilisateurs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="{{ path('listReviews') }}">Gestion avis</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if not app.user %}
                                <li class="nav-item mx-1">
                                    <a
                                        role="button"
                                        class="btn btn-info nav-link text-primary p-1 mt-1"
                                        href="{{ path('login') }}"
                                        >Connexion</a>
                                </li>
                                {% else %}
                                <li class="nav-item mx-1">
                                    <a
                                        role="button"
                                        class="btn btn-secondary text-primary p-1 mt-1 nav-link"
                                        href="{{ path('logout') }}"
                                        >Deconnexion</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

{% for type, messages in app.flashes %}
    <div class="container my-4">
        {% for message in messages %}
            <div class="alert w-50 mx-auto alert-{{ type }}  text-center">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endfor %}



{% endblock %}




{% block title %}
Violeta's Forever | 
{% endblock %}