{% extends 'home/home.html.twig' %}



{% block body  %}

{{ parent() }}


<div class="container my-5">
    <div class="container-fluid">
        <div class="row text-center align-items-center">
            <div class="col-lg-5 col-sm-12 col-xs-12">
                <img
                    src="{{ asset('upload/') }}{{ product.picture }}"
                    alt="..."
                    class="w-100"
                />
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12 px-0 px-md-3">
                <h1>{{ product.title }}</h1>
                <p class="my-4">
                    {{ product.description }}
                </p>
                <h5 class="my-4">Contenance : {{ product.volume }}</h5>
                <h5 class="my-4">
                    Prix France Métropole TTC : <span class="text-bg-primary">{{ product.price|number_format(2) }} €</span>
                </h5>
                <h5 class="my-4">Réf. {{ product.ref }}</h5>
                <hr/>
                <p class="my-4">
                    {{ product.volume }}
                </p>
                <h4 class="my-4">
                    Conseils d'utilisation
                </h4>
                <hr />
                <p>
                    {{ product.mode }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center my-5 col-6">

    {% if app.user %}

    <h2 class="pt-5">Votre avis nous intéresse!</h2>
        {{ form_start(form) }}
    <div class="container-fluid my-4 text-start">
        {{ form_row(form.content) }}
    </div>
    <div class="container-fluid my-4">
        {{ form_row(form.Enregistrer) }}
    </div>
        {{ form_end(form) }}

    {% else %}

    <h2 class="py-5 text-info">Connectez-vous pour laisser un avis!</h2>

    {% endif %}

    {% if reviews %}

    <h2 class="mt-5">Les avis de nos clients!</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Date</th>
            <th>Avis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

    {% for review in reviews %}

        <tr>
            <td class="py-4">{{ review.user.nickname }}</td>
            <td class="py-4 text-muted">{{ review.date | date('d-m-Y h-m-s') }}</td>
            <td class="py-4">{{ review.content }}</td>
            <td class="py-4">
                {% if app.user and app.user.id == review.user.id %}
                <a href="{{ path('deleteReview', {'id': review.id }) }}" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Supprimer l'avis"><i class="fas fs-5 fa-trash text-danger"></i></a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}




{% block title  %}
{{ parent() }}{{ product.title }}
{% endblock %}