{% extends 'backoffice.html.twig' %}

{% block body %}
<h1>Liste des catégories</h1>
    

    <table class="table table-dark table-striped mt-5">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Alias</th>
            <th>Photo 7x4</th>
            <th>Photo 16x7</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for category in categories %}

        <tr>
            <td>{{ category.title }}</td>
            <td>{{ category.alias }}</td>
            <td><img src="{{ asset('upload/' ~ category.pictureNormal) }}" width="90" alt=""></td>
            <td><img src="{{ asset('upload/' ~ category.pictureWide) }}" width="90" alt=""></td>
            <td>
                <a href="{{ path('editCategory', {'id': category.id }) }}" class="mx-2"><i class="fas fa-2x fa-edit text-info"></i></a>
                <a href="{{ path('deleteCategory', {'id': category.id }) }}" class="mx-2"><i class="fas fa-2x fa-trash text-danger"></i></a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>




{% endblock %}

{% block title %}

{% endblock %}

