{% extends 'backoffice.html.twig' %}

{% block body %}

<div class="container text-center">

    <h1 class="mb-4">Liste des catégories</h1>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Alias</th>
            <th>Image 7x4</th>
            <th>Image 16x7</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for category in categories %}

        <tr>
            <td class="py-0">{{ category.title }}</td>
            <td class="py-0">{{ category.alias }}</td>
            <td class="py-0"><img src="{{ asset('upload/' ~ category.pictureNormal) }}" width="120" alt=""></td>
            <td class="py-0"><img src="{{ asset('upload/' ~ category.pictureWide) }}" width="160" alt=""></td>
            <td class="py-0">
                <a href="{{ path('editCategory', {'id': category.id }) }}" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modifier la categorie"><i class="fas fa-2x fa-edit text-info"></i></a>
                <a href="{{ path('deleteCategory', {'id': category.id }) }}" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Supprimer la categorie"><i class="fas fa-2x fa-trash text-danger"></i></a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>



{% endblock %}

{% block title %}

{% endblock %}

