{% extends 'backoffice.html.twig' %}

{% block title  %}

{% endblock %}

{% block body  %}
    <h1>Modification produit</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.ref) }}
    {{ form_row(form.description) }}
    {{ form_row(form.volume) }}
    {{ form_row(form.content) }}
    {{ form_row(form.mode) }}
    {{ form_row(form.price) }}
    {{ form_row(form.picture_edit) }}
    <img src="{{ asset('upload/') }}{{ product.picture }}" width="250" alt="">
    <img width="250" id="image" alt="">
    {{ form_row(form.Enregistrer) }}
    {{ form_end(form) }}





<script>

        var loadFile = function(event){
            var image = document.getElementById('image');

            image.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>


{% endblock %}