<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        />
        <link rel="stylesheet" href="{{asset('cssfront/bootstrap.css')}}" />
        <link rel="stylesheet" href="{{asset('cssfront/styles.css')}}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid bg-primary">
            <div class="container myNavbar py-0">
                <nav
                    class="navbar navbar-expand-lg bg-body-tertiary align-items-end py-0"
                >
                    <div class="container">
                        <a class="navbar-brand pb-0 goHome" href="#">
                            <img
                                src="assets/img/index/newlogo3.webp"
                                alt=""
                                height="60"
                                class="d-inline-block align-text-center"
                            />
                        </a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse navbar-collapse"
                            id="navbarSupportedContent"
                        >
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item mx-2">
                                    <a
                                        class="nav-link active goHome"
                                        aria-current="page"
                                        href="#"
                                        >Accueil</a
                                    >
                                </li>
                                <li class="nav-item mx-1 dropdown">
                                    <a
                                        class="btn btn-success p-1 mt-1 text-primary nav-link dropdown-toggle"
                                        id="productTrigger"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        Produits
                                    </a>
                                    <div
                                        class="dropdown-menu px-2 py-2 mt-0 mb-1 myDropdown bg-light"
                                    >
                                        <div class="row text-center">
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="bienetre"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/bienetre.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les bases du bien etre
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="packs"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/packs.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les Packs
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="indispensables"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/indispensables.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les indispensables
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="nutrition"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/nutrition.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Nutrition
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="fitness"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/fitness.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Fitness & Minceur
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="visage"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/visage.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Visage
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="corps"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/corps.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Corps & Cheveux
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="solaires"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/solaires.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les solaires
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="laruche"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/laruche.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les produits de la ruche
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="huiles"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/huiles.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les huiles essentielles
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="maison"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/maison.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Pour la maison
                                                    </p></a
                                                >
                                            </div>
                                            <div class="col-lg-3 p-1">
                                                <a
                                                    class="dropdown-item px-2"
                                                    id="parfums"
                                                    href="#"
                                                >
                                                    <img
                                                        src="assets/img/cat/parfums.jpg"
                                                        width="100%"
                                                        class="navImg"
                                                    />
                                                    <p class="my-0 fw-bold">
                                                        Les parfums
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link goHome"
                                        href="#aloe-vera-forever"
                                        >Aloe Vera & Forever</a
                                    >
                                </li>
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link goHome"
                                        href="#devenirFbo"
                                        >Devenir FBO</a
                                    >
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="nav-link goHome" href="#commander"
                                        >Commander</a
                                    >
                                </li>
                                <li class="nav-item mx-1">
                                    <a
                                        class="nav-link"
                                        href="mailto:vluncasu@yahoo.com"
                                        >Contacter-moi</a
                                    >
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ path('listProduct') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    BackOffice
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('addProduct') }}">Ajout produit</a></li>
                                        <li><a class="dropdown-item" href="{{ path('listProduct') }}">List produit</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item mx-1 mt-1">
                                    <a
                                        role="button"
                                        class="btn btn-danger text-primary fw-bolder"
                                        href=""
                                        >Boutique en ligne</a
                                    >
                                </li>
                            </ul>
                            <!-- <form class="d-flex" role="search">
                                <input
                                    class="form-control me-2"
                                    type="search"
                                    placeholder="Search"
                                    aria-label="Search"
                                />
                                <button class="btn btn-outline-success" type="submit">
                                    Search
                                </button>
                            </form> -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        {% block body %}{% endblock %}

    <div class="container-fluid bg-primary">
            <footer class="py-3 myFooter">
                <ul class="nav justify-content-center my-3">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted goHome"
                            >Accueil</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="#history"
                            class="nav-link px-2 text-muted goHome"
                            >Forever Living Products</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="#aloe-vera-forever"
                            class="nav-link px-2 text-muted goHome"
                            >Aloe Vera Forever</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="#devenirFbo"
                            class="nav-link px-2 text-muted goHome"
                            >Devenir FBO</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="#commander"
                            class="nav-link px-2 text-muted goHome"
                            >Commander</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="#contact"
                            class="nav-link px-2 text-muted goHome"
                            >Contact</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="text-muted"
                            href="https://www.facebook.com/violeta.luncasu.7"
                            target="_blank"
                            ><i class="fa-brands fa-facebook fs-4 mx-2 pt-2"></i
                        ></a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="text-muted"
                            href="https://www.instagram.com/violetamoglan/"
                            target="_blank"
                            ><i
                                class="fa-brands fa-instagram fs-4 mx-2 pt-2"
                            ></i
                        ></a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="text-muted"
                            href="https://www.youtube.com/channel/UC7JAhxLtT8K-O73iUkLJTMA"
                            target="_blank"
                            ><i class="fa-brands fa-youtube fs-4 mx-2 pt-2"></i
                        ></a>
                    </li>
                </ul>
            </footer>
        </div>
    
    <script src="{{asset('jsfront/bootstrap.bundle.js')}}"></script>

    </body>
</html>
